@model WantTask.Models.TaskList
@{
    ViewData["Title"] = "approve";
    Layout = "~/Views/Shared/_BackstageLayout.cshtml";
}

<h1>approve</h1>

<!doctype html>
<html lang="en">

<head>

   
    <!-- App favicon -->
    <!-- DataTables -->
    <link href="~/static/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">


    <!-- preloader css -->
    <link rel="~/stylesheet" href="static/css/preloader.min.css" type="text/css">

    <!-- Bootstrap Css -->
    <link href="~/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="~/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="~/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">

    <style>

        .table-hover tbody tr:hover {
            background-color: #f5f5f5; /* 或者你想要的其他背景颜色 */
        }

        .btn-outline-secondary:hover {
            background-color: #528EAF; /* 更改鼠标悬停时的背景颜色 */
            border-color: #528EAF; /* 更改鼠标悬停时的边框颜色 */
            color: #fff; /* 更改鼠标悬停时的文本颜色 */
        }

        .badge-soft-primary {
            background-color: #528EAF;
            color: #fff;
        }

    </style>
</head>

<body>

    <!-- <body data-layout="horizontal"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                </div>


            </div>
        </header>




        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">錄取作業</h4>

                                <!-- <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                        <li class="breadcrumb-item active">Editable Tables</li>
                                    </ol>
                                </div> -->
                                <div class="d-flex">

                                    <!-- <div class="dropdown d-inline-block d-lg-none ms-2">
                                        <button type="button" class="btn header-item" id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i data-feather="search" class="icon-lg"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-search-dropdown">

                                            <form class="p-3">
                                                <div class="form-group m-0">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Search ..." aria-label="Search Result">

                                                        <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div> -->
                                    <!--四個小圖示-->
                                    <div class="dropdown d-none d-sm-inline-block">
                                        <button type="button" class="btn header-item" id="mode-setting-btn">
                                            <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                                            <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                                        </button>
                                    </div>

                                    <div class="dropdown d-none d-lg-inline-block ms-1">
                                        <button type="button" class="btn header-item" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i data-feather="grid" class="icon-lg"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                                            <div class="p-2">
                                                <div class="row g-0">
                                                    <div class="col">
                                                        <a class="dropdown-icon-item" href="#">
                                                            <img src="static/picture/github.png" alt="Github">
                                                            <span>GitHub</span>
                                                        </a>
                                                    </div>
                                                    <div class="col">
                                                        <a class="dropdown-icon-item" href="#">
                                                            <img src="static/picture/bitbucket.png" alt="bitbucket">
                                                            <span>Bitbucket</span>
                                                        </a>
                                                    </div>
                                                    <div class="col">
                                                        <a class="dropdown-icon-item" href="#">
                                                            <img src="static/picture/dribbble.png" alt="dribbble">
                                                            <span>Dribbble</span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="row g-0">
                                                    <div class="col">
                                                        <a class="dropdown-icon-item" href="#">
                                                            <img src="static/picture/dropbox.png" alt="dropbox">
                                                            <span>Dropbox</span>
                                                        </a>
                                                    </div>
                                                    <div class="col">
                                                        <a class="dropdown-icon-item" href="#">
                                                            <img src="static/picture/mail_chimp.png" alt="mail_chimp">
                                                            <span>Mail Chimp</span>
                                                        </a>
                                                    </div>
                                                    <div class="col">
                                                        <a class="dropdown-icon-item" href="#">
                                                            <img src="static/picture/slack.png" alt="slack">
                                                            <span>Slack</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown d-inline-block">
                                        <button type="button" class="btn header-item noti-icon position-relative" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i data-feather="bell" class="icon-lg"></i>
                                            <span class="badge bg-danger rounded-pill">5</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
                                            <div class="p-3">
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <h6 class="m-0"> Notifications </h6>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="#!" class="small text-reset text-decoration-underline"> Unread (3)</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-simplebar="" style="max-height: 230px;">
                                                <a href="#!" class="text-reset notification-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <img src="static/picture/avatar-3.jpg" class="rounded-circle avatar-sm" alt="user-pic">
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">James Lemire</h6>
                                                            <div class="font-size-13 text-muted">
                                                                <p class="mb-1">It will seem like simplified English.</p>
                                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hour ago</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="#!" class="text-reset notification-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 avatar-sm me-3">
                                                            <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                                <i class="bx bx-cart"></i>
                                                            </span>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">Your order is placed</h6>
                                                            <div class="font-size-13 text-muted">
                                                                <p class="mb-1">If several languages coalesce the grammar</p>
                                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>3 min ago</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="#!" class="text-reset notification-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 avatar-sm me-3">
                                                            <span class="avatar-title bg-success rounded-circle font-size-16">
                                                                <i class="bx bx-badge-check"></i>
                                                            </span>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">Your item is shipped</h6>
                                                            <div class="font-size-13 text-muted">
                                                                <p class="mb-1">If several languages coalesce the grammar</p>
                                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>3 min ago</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                                <a href="#!" class="text-reset notification-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <img src="static/picture/avatar-6.jpg" class="rounded-circle avatar-sm" alt="user-pic">
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">Salena Layfield</h6>
                                                            <div class="font-size-13 text-muted">
                                                                <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span>1 hour ago</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="p-2 border-top d-grid">
                                                <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                                    <i class="mdi mdi-arrow-right-circle me-1"></i> <span>View More..</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown d-inline-block">
                                        <button type="button" class="btn header-item right-bar-toggle me-2">
                                            <i data-feather="settings" class="icon-lg"></i>
                                        </button>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <!--未處理 已錄取 未錄取 任務類型 關鍵字-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="card-body col-4">
                                            <!-- Nav tabs -->
                                            <!--未處理 已錄取 未錄取-->
                                            <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                                                <li class="nav-item" onclick="showAllResume();">
                                                    <a class="nav-link active" data-bs-toggle="tab" href="#AllResume" role="tab" style="color:#528EAF">
                                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                        <span class="d-none d-sm-block" style="color:#528EAF">未處理</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" onclick="showApprove();">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#Approve" role="tab">
                                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                                        <span class="d-none d-sm-block" style="color:#528EAF">已錄取</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" onclick="showReject();">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#Reject" role="tab">
                                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                                        <span class="d-none d-sm-block" style="color:#528EAF">未錄取</span>
                                                    </a>
                                                </li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <!-- <div class="tab-content p-3 text-muted">
                                                <div class="tab-pane active" id="home1" role="tabpanel">
                                                    <p class="mb-0">
                                                        Raw denim you probably haven't heard of them jean shorts Austin.
                                                        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
                                                        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit

                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="profile1" role="tabpanel">
                                                    <p class="mb-0">
                                                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                                                        single-origin coffee squid. Exercitation +1 labore velit, blog
                                                        sartorial PBR leggings next level wes anderson artisan four loko

                                                    </p>
                                                </div>
                                            </div> -->
                                        </div><!-- end card-body -->
                                        <!--選擇任務類型-->

                                        <div class="col-4 mb-3">
                                            <form class="app-search d-none d-lg-block">
                                                <!-- <label class="form-label">Select</label> -->
                                                <select class="form-select">
                                                    <option>請選擇任務類型</option>
                                                    <option>跑腿</option>
                                                    <option>活動支援</option>
                                                    <option>其他</option>
                                                </select>
                                            </form>
                                        </div>

                                        <!-- <div class="col-lg-4 col-md-6">
                                            <div class="mb-3">
                                                <label for="choices-single-default" class="form-label font-size-13 text-muted">Default</label>
                                                <select class="form-control" data-trigger="" name="choices-single-default" id="choices-single-default" placeholder="This is a search placeholder">
                                                    <option value="">This is a placeholder</option>
                                                    <option value="Choice 1">Choice 1</option>
                                                    <option value="Choice 2">Choice 2</option>
                                                    <option value="Choice 3">Choice 3</option>
                                                </select>
                                            </div>
                                        </div>
                                          -->
                                        <!-- <div class="col-4">
                                            <form class="app-search d-none d-lg-block">
                                            <div class="form-floating mb-3">
                                                <select class="form-select" id="floatingSelectTaskName"
                                                    aria-label="Floating label select example">
                                                    <option selected>請選擇縣市</option>
                                                    <option value="1">跑腿</option>
                                                    <option value="2">活動支援</option>
                                                    <option value="3">其他</option>
                                                </select>
                                                <label for="floatingSelectTown">請選擇任務類型</label>
                                            </div>
                                            </form>
                                        </div> -->
                                        <!-- App Search--> <!--關鍵字搜尋-->
                                        <div class="col-4">
                                            <form class="app-search d-none d-lg-block">
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" placeholder="請輸入關鍵字">
                                                    <button class="btn btn-primary" type="button" style="background-color:#528EAF"><i class="bx bx-search-alt align-middle"></i></button>
                                                </div>
                                            </form>
                                        </div>

                                        <!--選擇是否上架-->
                                        <!-- <div class="col-4">
                                            <div class="form-floating mb-3">
                                                <select class="form-select" id="floatingSelectTaskName"
                                                    aria-label="Floating label select example">
                                                    <option selected>請選擇縣市</option>
                                                    <option value="1">已上架</option>
                                                    <option value="2">未上架</option>
                                                </select>
                                                <label for="floatingSelectTown">請選擇是否上架</label>
                                            </div>
                                        </div> -->


                                    </div>
                                    <!-- <h4 class="card-title">Table Edit</h4> -->
                                    <!-- <p class="card-title-desc">Table Edits is a lightweight jQuery plugin for making table rows editable.</p> -->
                                </div>
                                <div class="card-body" id="AllResume">

                                    <!--標題會排序的表格-->
                                    <!-- <div class="table-responsive mb-4"> -->
                                    <!-- <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                        <thead>
                                          <tr>
                                            <th scope="col" style="width: 50px;">
                                                <div class="form-check font-size-16">
                                                    <input type="checkbox" class="form-check-input" id="checkAll">
                                                     <label class="form-check-label" for="checkAll"></label>

                                                    </div>
                                            </th>
                                            <th scope="col">申請人姓名</th>
                                            <th scope="col">履歷內容</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">技能</th>
                                            <th style="width: 80px; min-width: 80px;">Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck1">
                                                        <label class="form-check-label" for="contacusercheck1"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <img src="static/picture/avatar-2.jpg" alt="" class="avatar-sm rounded-circle me-2">
                                                    <a href="#" class="text-body">Phyllis Gatlin</a>
                                                </td>
                                                <td>UI/UX Designer</td>
                                                <td>phyllisgatlin@minia.com</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="#" class="badge badge-soft-primary">Photoshop</a>
                                                        <a href="#" class="badge badge-soft-primary">illustrator</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck2">
                                                        <label class="form-check-label" for="contacusercheck2"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <img src="static/picture/avatar-1.jpg" alt="" class="avatar-sm rounded-circle me-2">
                                                    <a href="#" class="text-body">James Nix</a>
                                                </td>
                                                <td>Frontend Developer</td>
                                                <td>jamesnix@minia.com</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Html</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Css</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">2 + more</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck3">
                                                        <label class="form-check-label" for="contacusercheck3"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <img src="static/picture/avatar-3.jpg" alt="" class="avatar-sm rounded-circle me-2">
                                                    <a href="#" class="text-body">Darlene Smith</a>
                                                </td>
                                                <td>Backend Developer</td>
                                                <td>darlenesmith@minia.com</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Java</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Python</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck4">
                                                        <label class="form-check-label" for="contacusercheck4"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="avatar-sm d-inline-block align-middle me-2">
                                                        <div class="avatar-title bg-light-subtle text-light font-size-24 m-0 rounded-circle">
                                                            <i class="bx bxs-user-circle"></i>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="text-body">William Swift</a>
                                                </td>
                                                <td>Full Stack Developer</td>
                                                <td>williamswift@minia.com</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Ruby</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">2 + more</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck5">
                                                        <label class="form-check-label" for="contacusercheck5"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="avatar-sm d-inline-block align-middle me-2">
                                                        <div class="avatar-title bg-light-subtle text-light font-size-24 m-0 rounded-circle">
                                                            <i class="bx bxs-user-circle"></i>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="text-body">Kevin West</a>
                                                </td>
                                                <td>Frontend Developer</td>
                                                <td>kevinwest@minia.com</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Html</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Css</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">2 + more</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck6">
                                                        <label class="form-check-label" for="contacusercheck6"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <img src="static/picture/avatar-6.jpg" alt="" class="avatar-sm rounded-circle me-2">
                                                    <a href="#" class="text-body">Tommy Hayes</a>
                                                </td>
                                                <td>UI/UX Designer</td>
                                                <td>tommyhayes@minia.com</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Photoshop</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">illustrator</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck7">
                                                        <label class="form-check-label" for="contacusercheck7"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <img src="static/picture/avatar-8.jpg" alt="" class="avatar-sm rounded-circle me-2">
                                                    <a href="#" class="text-body">Diana Owens</a>
                                                </td>
                                                <td>Graphic Designer</td>
                                                <td>dianaowens@minia.com</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Photoshop</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">illustrator</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck8">
                                                        <label class="form-check-label" for="contacusercheck8"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <img src="static/picture/avatar-9.jpg" alt="" class="avatar-sm rounded-circle me-2">
                                                    <a href="#" class="text-body">Paul Sanchez</a>
                                                </td>
                                                <td>Angular Developer</td>
                                                <td>paulsanchez@minia.com</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Javascript</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck9">
                                                        <label class="form-check-label" for="contacusercheck9"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <img src="static/picture/avatar-9.jpg" alt="" class="avatar-sm rounded-circle me-2">
                                                    <a href="#" class="text-body">Peter Dryer</a>
                                                </td>
                                                <td>Web Designer</td>
                                                <td>peterdryer@minia.com</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Html</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Css</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">2 + more</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck10">
                                                        <label class="form-check-label" for="contacusercheck10"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <img src="static/picture/avatar-4.jpg" alt="" class="avatar-sm rounded-circle me-2">
                                                    <a href="#" class="text-body">Gerald Moyer</a>
                                                </td>
                                                <td>Backend Developer</td>
                                                <td>geraldmoyer@minia.com</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Javascript</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row">
                                                    <div class="form-check font-size-16">
                                                        <input type="checkbox" class="form-check-input" id="contacusercheck11">
                                                        <label class="form-check-label" for="contacusercheck11"></label>
                                                    </div>
                                                </th>
                                                <td>
                                                    <img src="static/picture/avatar-2.jpg" alt="" class="avatar-sm rounded-circle me-2">
                                                    <a href="#" class="text-body">Gail McGuire</a>
                                                </td>
                                                <td>Backend Developer</td>
                                                <td>gailmcGuire@minia.com</td>
                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Javascript</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">2+ more</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                              </tr>
                                        </tbody>
                                    </table> -->
                                    <!-- end table -->
                                    <!-- </div> -->
                                    <!--正在用的舊表格-->
                                    <div class="table-responsive">
                                        <table class="table table-editable table-nowrap align-middle table-edits table-hover">
                                            <thead>
                                                <tr>
                                                    <th>序號</th>
                                                    <th>申請人名稱</th>
                                                    <th>履歷內容</th>
                                                    <th>證照</th>
                                                    <th>專長</th>
                                                    <th>技能</th>
                                                    <th>修改</th>
                                                    <th>是否錄取</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-id="1">
                                                    <td data-field="id" style="width: 80px">1</td>
                                                    <td data-field="name">David McHenry</td>
                                                    <td data-field="age">24</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary">Photoshop</a>
                                                            <a href="#" class="badge badge-soft-primary">illustrator</a>
                                                        </div>
                                                    </td>
                                                    <td style="width: 100px">
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>
                                                    <th>
                                                        <div class="d-flex flex-wrap gap-3 my-3">
                                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                                <button type="button" class="btn btn-outline-secondary">錄取</button>
                                                                <button type="button" class="btn btn-outline-secondary">婉拒</button>
                                                            </div>
                                                        </div>
                                                    </th>



                                                </tr>
                                                <tr data-id="2">
                                                    <td data-field="id">2</td>
                                                    <td data-field="name">Frank Kirk</td>
                                                    <td data-field="age">22</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Javascript</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">2+ more</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>
                                                    <th>
                                                        <div class="d-flex flex-wrap gap-3 my-3">
                                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                                <button type="button" class="btn btn-outline-secondary">錄取</button>
                                                                <button type="button" class="btn btn-outline-secondary">婉拒</button>
                                                            </div>
                                                        </div>
                                                    </th>


                                                </tr>
                                                <tr data-id="3">
                                                    <td data-field="id">3</td>
                                                    <td data-field="name">Rafael Morales</td>
                                                    <td data-field="age">26</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Java</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Python</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>
                                                    <th>
                                                        <div class="d-flex flex-wrap gap-3 my-3">
                                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                                <button type="button" class="btn btn-outline-secondary">錄取</button>
                                                                <button type="button" class="btn btn-outline-secondary">婉拒</button>
                                                            </div>
                                                        </div>
                                                    </th>

                                                </tr>
                                                <tr data-id="4">
                                                    <td data-field="id">4</td>
                                                    <td data-field="name">Mark Ellison</td>
                                                    <td data-field="age">32</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Html</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Css</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">2 + more</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>
                                                    <th>
                                                        <div class="d-flex flex-wrap gap-3 my-3">
                                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                                <button type="button" class="btn btn-outline-secondary">錄取</button>
                                                                <button type="button" class="btn btn-outline-secondary">婉拒</button>
                                                            </div>
                                                        </div>
                                                    </th>

                                                </tr>
                                                <tr data-id="5">
                                                    <td data-field="id">5</td>
                                                    <td data-field="name">Minnie Walter</td>
                                                    <td data-field="age">27</td>
                                                    <td data-field="gender">Female</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Javascript</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>
                                                    <th>
                                                        <div class="d-flex flex-wrap gap-3 my-3">
                                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                                <button type="button" class="btn btn-outline-secondary">錄取</button>
                                                                <button type="button" class="btn btn-outline-secondary">婉拒</button>
                                                            </div>
                                                        </div>
                                                    </th>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>







                                </div>

                                <div class="card-body" style="display:none" id="Approve">
                                    <div class="table-responsive">
                                        <table class="table table-editable table-nowrap align-middle table-edits table-hover">
                                            <thead>
                                                <tr>
                                                    <th>序號</th>
                                                    <th>申請人名稱</th>
                                                    <th>履歷內容</th>
                                                    <th>證照</th>
                                                    <th>專長</th>
                                                    <th>技能</th>
                                                    <th>修改</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-id="1">
                                                    <td data-field="id" style="width: 80px">1</td>
                                                    <td data-field="name">David McHenry</td>
                                                    <td data-field="age">24</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary">Photoshop</a>
                                                            <a href="#" class="badge badge-soft-primary">illustrator</a>
                                                        </div>
                                                    </td>
                                                    <td style="width: 100px">
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                                <tr data-id="2">
                                                    <td data-field="id">2</td>
                                                    <td data-field="name">Frank Kirk</td>
                                                    <td data-field="age">22</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Javascript</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">2+ more</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>


                                                </tr>
                                                <tr data-id="3">
                                                    <td data-field="id">3</td>
                                                    <td data-field="name">Rafael Morales</td>
                                                    <td data-field="age">26</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Java</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Python</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                                <tr data-id="4">
                                                    <td data-field="id">4</td>
                                                    <td data-field="name">Mark Ellison</td>
                                                    <td data-field="age">32</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Html</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Css</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">2 + more</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                                <tr data-id="5">
                                                    <td data-field="id">5</td>
                                                    <td data-field="name">Minnie Walter</td>
                                                    <td data-field="age">27</td>
                                                    <td data-field="gender">Female</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Javascript</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                                <div class="card-body" style="display:none" id="Reject">
                                    <div class="table-responsive">
                                        <table class="table table-editable table-nowrap align-middle table-edits table-hover">
                                            <thead>
                                                <tr>
                                                    <th>序號</th>
                                                    <th>申請人名稱</th>
                                                    <th>履歷內容</th>
                                                    <th>證照</th>
                                                    <th>專長</th>
                                                    <th>技能</th>
                                                    <th>修改</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-id="1">
                                                    <td data-field="id" style="width: 80px">1</td>
                                                    <td data-field="name">David McHenry</td>
                                                    <td data-field="age">24</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary">Photoshop</a>
                                                            <a href="#" class="badge badge-soft-primary">illustrator</a>
                                                        </div>
                                                    </td>
                                                    <td style="width: 100px">
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                                <tr data-id="2">
                                                    <td data-field="id">2</td>
                                                    <td data-field="name">Frank Kirk</td>
                                                    <td data-field="age">22</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Javascript</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">2+ more</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>


                                                </tr>
                                                <tr data-id="3">
                                                    <td data-field="id">3</td>
                                                    <td data-field="name">Rafael Morales</td>
                                                    <td data-field="age">26</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Java</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Python</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                                <tr data-id="4">
                                                    <td data-field="id">4</td>
                                                    <td data-field="name">Mark Ellison</td>
                                                    <td data-field="age">32</td>
                                                    <td data-field="gender">Male</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Html</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Css</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">2 + more</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                                <tr data-id="5">
                                                    <td data-field="id">5</td>
                                                    <td data-field="name">Minnie Walter</td>
                                                    <td data-field="age">27</td>
                                                    <td data-field="gender">Female</td>
                                                    <td data-field="gender">Male</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                            <a href="#" class="badge badge-soft-primary font-size-11">Javascript</a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                                <script>
                                    function showAllResume() {
                                        //先取得要操作的標籤
                                        let AllResume = document.querySelector("#AllResume");
                                        let Approve = document.querySelector("#Approve");
                                        let Reject = document.querySelector("#Reject");

                                        //再對標籤做操作
                                        AllResume.style.display = "block";
                                        Approve.style.display = "none";
                                        Reject.style.display = "none";
                                    }

                                    function showApprove() {
                                        //先取得要操作的標籤
                                        let AllResume = document.querySelector("#AllResume");
                                        let Approve = document.querySelector("#Approve");
                                        let Reject = document.querySelector("#Reject");

                                        //再對標籤做操作
                                        AllResume.style.display = "none";
                                        Approve.style.display = "block";
                                        Reject.style.display = "none";

                                    }

                                    function showReject() {
                                        //先取得要操作的標籤
                                        let AllResume = document.querySelector("#AllResume");
                                        let Approve = document.querySelector("#Approve");
                                        let Reject = document.querySelector("#Reject");

                                        //再對標籤做操作
                                        AllResume.style.display = "none";
                                        Approve.style.display = "none";
                                        Reject.style.display = "block";

                                    }
                                </script>

                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Right Sidebar -->    <!--右上小圖示-->
    <div class="right-bar">
        <div data-simplebar="" class="h-100">
            <div class="rightbar-title d-flex align-items-center p-3">

                <h5 class="m-0 me-2">Theme Customizer</h5>

                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

            <!-- Settings -->
            <hr class="m-0">

            <div class="p-4">
                <h6 class="mb-3">Layout</h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout" id="layout-vertical" value="vertical">
                    <label class="form-check-label" for="layout-vertical">Vertical</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout" id="layout-horizontal" value="horizontal">
                    <label class="form-check-label" for="layout-horizontal">Horizontal</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Layout Mode</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-mode" id="layout-mode-light" value="light">
                    <label class="form-check-label" for="layout-mode-light">Light</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-mode" id="layout-mode-dark" value="dark">
                    <label class="form-check-label" for="layout-mode-dark">Dark</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Layout Width</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-width" id="layout-width-fuild" value="fuild" onchange="document.body.setAttribute('data-layout-size', 'fluid')">
                    <label class="form-check-label" for="layout-width-fuild">Fluid</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-width" id="layout-width-boxed" value="boxed" onchange="document.body.setAttribute('data-layout-size', 'boxed')">
                    <label class="form-check-label" for="layout-width-boxed">Boxed</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Layout Position</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-position" id="layout-position-fixed" value="fixed" onchange="document.body.setAttribute('data-layout-scrollable', 'false')">
                    <label class="form-check-label" for="layout-position-fixed">Fixed</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-position" id="layout-position-scrollable" value="scrollable" onchange="document.body.setAttribute('data-layout-scrollable', 'true')">
                    <label class="form-check-label" for="layout-position-scrollable">Scrollable</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Topbar Color</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="topbar-color" id="topbar-color-light" value="light" onchange="document.body.setAttribute('data-topbar', 'light')">
                    <label class="form-check-label" for="topbar-color-light">Light</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="topbar-color" id="topbar-color-dark" value="dark" onchange="document.body.setAttribute('data-topbar', 'dark')">
                    <label class="form-check-label" for="topbar-color-dark">Dark</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2 sidebar-setting">Sidebar Size</h6>

                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-size" id="sidebar-size-default" value="default" onchange="document.body.setAttribute('data-sidebar-size', 'lg')">
                    <label class="form-check-label" for="sidebar-size-default">Default</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-size" id="sidebar-size-compact" value="compact" onchange="document.body.setAttribute('data-sidebar-size', 'md')">
                    <label class="form-check-label" for="sidebar-size-compact">Compact</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-size" id="sidebar-size-small" value="small" onchange="document.body.setAttribute('data-sidebar-size', 'sm')">
                    <label class="form-check-label" for="sidebar-size-small">Small (Icon View)</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2 sidebar-setting">Sidebar Color</h6>

                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-color" id="sidebar-color-light" value="light" onchange="document.body.setAttribute('data-sidebar', 'light')">
                    <label class="form-check-label" for="sidebar-color-light">Light</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-color" id="sidebar-color-dark" value="dark" onchange="document.body.setAttribute('data-sidebar', 'dark')">
                    <label class="form-check-label" for="sidebar-color-dark">Dark</label>
                </div>
                <div class="form-check sidebar-setting">
                    <input class="form-check-input" type="radio" name="sidebar-color" id="sidebar-color-brand" value="brand" onchange="document.body.setAttribute('data-sidebar', 'brand')">
                    <label class="form-check-label" for="sidebar-color-brand">Brand</label>
                </div>

                <h6 class="mt-4 mb-3 pt-2">Direction</h6>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-direction" id="layout-direction-ltr" value="ltr">
                    <label class="form-check-label" for="layout-direction-ltr">LTR</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="layout-direction" id="layout-direction-rtl" value="rtl">
                    <label class="form-check-label" for="layout-direction-rtl">RTL</label>
                </div>

            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>





</body>

</html>
   