
@{
    ViewData["Title"] = "Form";
}

<h1>Form</h1>


<!DOCTYPE html>
<html lang="en">

<head>
  
    

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!--Sidebar Start -->
        <!-- <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="index.html" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="button.html" class="dropdown-item">Buttons</a>
                            <a href="typography.html" class="dropdown-item">Typography</a>
                            <a href="element.html" class="dropdown-item">Other Elements</a>
                        </div>
                    </div>
                    <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
                    <a href="form.html" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Forms</a>
                    <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div> -->
        <!-- Sidebar End  -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <!-- <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav> -->
            <!-- Navbar End -->


            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">   <!--任務內容-->
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">任務內容</h6>
                            <form>
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelectTaskName"
                                        aria-label="Floating label select example">
                                        <!-- <option selected>請選擇縣市</option> -->
                                        <option value="1">跑腿</option>
                                        <option value="2">活動支援</option>
                                        <option value="3">其他</option>
                                    </select>
                                    <label for="floatingSelectTown">請選擇任務類型</label>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputTaskTitle" class="form-label">任務標題</label>
                                    <input type="text" class="form-control" id="floatingInputTaskTitle">
                                    <!-- <div id="tasktitleinput" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputTaskDetail" class="form-label">任務內容</label>
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here"
                                        id="floatingTextareaTaskDetail" style="height: 150px;"></textarea>
                                    <label for="floatingTextarea"></label>
                                </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputRequiredNum" class="form-label">需求人數</label>
                                    <input type="text" class="form-control" id="floatingInputRequiredNum">
                                    <!-- <div id="tasktitleinput" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3 form-check">
                                    <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
                                    <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                                </div>
                                <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">   <!--任務時間-->
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">任務時間</h6>
                                <!-- <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelectMonth"
                                        aria-label="Floating label select example">
                                        <option selected>請選擇縣市</option>
                                        <option value="1">一月</option>
                                        <option value="2">二月</option>
                                        <option value="3">三月</option>
                                    </select>
                                    <label for="floatingSelectCity">請選擇月份</label>
                                </div> -->
                                <div class="mb-3">
                                    <label for="example-date-input" class="form-label">開始日期</label>
                                    <input class="form-control" type="date" value="DateTime.Now.Date" id="example-date-input-start">
                                </div>
                                <div class="mb-3">
                                    <label for="example-date-input" class="form-label">結束日期</label>
                                    <input class="form-control" type="date" value="DateTime.Now.Date" id="example-date-input-end">
                                </div>
                                <!-- <div class="col-sm-12 col-md-6 col-xl-4">
                                    <div class="h-100 bg-light rounded p-4">
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <h6 class="mb-0">開始日期</h6>
                                            <a href="">Show All</a>
                                        </div>
                                        <div id="calender"></div>
                                    </div>
                                </div> -->

                                <!-- <div class="col-sm-12 col-md-6 col-xl-4">
                                    <div class="h-100 bg-light rounded p-4">
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <h6 class="mb-0">結束日期</h6>
                                            <a href="">Show All</a>
                                        </div>
                                        <div id="calender"></div>
                                    </div>
                                </div> -->
                                <!-- <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelectDate"
                                        aria-label="Floating label select example">
                                        <option selected>請選擇縣市</option>
                                        <option value="1">一號</option>
                                        <option value="2">二號</option>
                                        <option value="3">三號</option>
                                    </select>
                                    <label for="floatingSelectDate">請選擇日期</label>
                                </div> -->
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInputTaskPeriod">
                                <label for="floatingInputTaskPeriod">請輸入時段，例如：早班：08：00~16：00</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInputTaskPeriod2">
                                <label for="floatingInputTaskPeriod2">請輸入時段，例如：中班：13：00~17：00，若無則免填</label>
                            </div>
                            <!-- <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>

                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextarea" style="height: 150px;"></textarea>
                                <label for="floatingTextarea">Comments</label>
                            </div> -->

                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">   <!--任務地點-->
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">任務地點</h6>
                            <div>
                                <div class="form-check form-check-inline">

                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioHome"
                                        value="option1">
                                    <label class="form-check-label" for="inlineRadioHome">在家兼職</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioOtherPlace"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadioOtherPlace">指定地點</label>
                                </div>
                                <p></p>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelectCity"
                                        aria-label="Floating label select example">
                                        <!-- <option selected>請選擇縣市</option> -->
                                        <option value="1">台北市</option>
                                        <option value="2">新北市</option>
                                        <option value="3">桃園市</option>
                                    </select>
                                    <label for="floatingSelectCity">請選擇縣市</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelectTown"
                                        aria-label="Floating label select example">
                                        <!-- <option selected>請選擇縣市</option> -->
                                        <option value="1">中山區</option>
                                        <option value="2">大安區</option>
                                        <option value="3">信義區</option>
                                    </select>
                                    <label for="floatingSelectTown">請選擇區域</label>
                                </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInputAddress"
                                    placeholder="name@example.com">
                                <label for="floatingInputAddress">請輸入地址</label>
                            </div>
                          

                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6">   <!--任務報酬-->
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">任務報酬</h6>
                        
                                    <div class="widgets_inner">
                                        <div class="range_item">
                                            <!-- <div id="slider-range"></div> -->
                                            <input type="text" class="js-range-slider" value="" />
                                            <div class="d-flex align-items-center">
                                                <div class="price_text">
                                                    <p>Price :</p>
                                                </div>
                                                <div class="price_value d-flex justify-content-center">
                                                    <input type="text" class="js-input-from" id="amountPayFrom" readonly />
                                                    <span>to</span>
                                                    <input type="text" class="js-input-to" id="amountPayTo" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </aside> -->
                              <!-- Range Slider End -->
                            <!-- </div> -->
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelectPayment"
                                        aria-label="Floating label select example">
                                        <!-- <option selected>請選擇縣市</option> -->
                                        <option value="1">現金</option>
                                        <option value="2">匯款</option>
                                        <option value="3">三月</option>
                                    </select>
                                    <label for="floatingSelectPayment">支薪方式</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelectPaymentDate"
                                        aria-label="Floating label select example">
                                        <!-- <option selected>請選擇縣市</option> -->
                                        <option value="1">當日現領</option>
                                        <option value="2">二號</option>
                                        <option value="3">三號</option>
                                    </select>
                                    <label for="floatingSelectPaymentDate">支薪日</label>
                                </div>

                            <!-- <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>

                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                    id="floatingTextarea" style="height: 150px;"></textarea>
                                <label for="floatingTextarea">Comments</label>
                            </div> -->

                        </div>
                    </div>

                    <!--專業需求-->
                    <div class="col-sm-12 col-xl-6">   
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">專業需求(選填)</h6>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Default file input example</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                                <input class="form-control" type="file" id="formFileMultiple" multiple>
                            </div>
                            <!-- <div class="mb-3">
                                <label for="formFileSm" class="form-label">Small file input example</label>
                                <input class="form-control form-control-sm" id="formFileSm" type="file">
                            </div> -->
                            <!-- <div>
                                <label for="formFileLg" class="form-label">Large file input example</label>
                                <input class="form-control form-control-lg" id="formFileLg" type="file">
                            </div> -->
                        </div>
                    </div>

                      <!--任務照片-->
                    <div class="col-sm-12 col-xl-6">   
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">任務照片(選填)</h6>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Default file input example</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                                <input class="form-control" type="file" id="formFileMultiple" multiple>
                            </div>
                            <!-- <div class="mb-3">
                                <label for="formFileSm" class="form-label">Small file input example</label>
                                <input class="form-control form-control-sm" id="formFileSm" type="file">
                            </div> -->
                            <!-- <div>
                                <label for="formFileLg" class="form-label">Large file input example</label>
                                <input class="form-control form-control-lg" id="formFileLg" type="file">
                            </div> -->
                        </div>
                    </div>
                  
                  
                </div>
                <p></p>
                <!--送出-->
            <div class="d-flex justify-content-center">    
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <div class="d-flex justify-content-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioPublish"
                                value="option1">
                            <label class="form-check-label" for="inlineRadioPublish">立即上架</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioNoPublish"
                                value="option2">
                            <label class="form-check-label" for="inlineRadioNoPublish">延後上架</label>
                        </div>
                     </div>
                     <div class="d-flex justify-content-center mt-3">
                        <div>
                            <button type="submit" class="btn btn-primary" style="background-color:#528EAF">送出</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            </div>


            
        </div>
       


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    


</body>

</html>

